<div class="content_wrapper">
    <div class="author">
        <b><p class="code"></p></b>
        <p class="name_post"></p>
    </div>
    <div class="text">
        <p class="post"></p>
    </div>
</div>