*{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    list-style-type: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    font-family: sans-serif;
}
/*ДЛЯ HEADER*/
header{
    max-width: 100vw;
    background: #7726b5;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
header ul li{
    padding: 10px 20px;
    color: silver;
    transition: 0.2s;
}
header ul li:hover{
    background: #441866;
    color: white;
    transition: 0.2s;
}
/*СВЕРХУ HEADER*/
.pod_header{
    max-width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pod_header p{
    font-size: 50px;
    color: black;
    position: absolute;
    opacity: 0;
}
.center_block{
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center_block div:nth-child(1){
    width: 100%;
    text-align: center;
    background: #44186631;
}
.center_block div:nth-child(1) p{
    padding: 20px;
    font-size: 40px;
    margin: 0 auto;
}
.center_block div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.center_block div:nth-child(2) p{
    width: 40%;
    height: 100%;
    padding: 20px;
    font-size: 25px;
    background: #44186631;
    margin: 0 50px;
}
.reg{
    color: black;
}
.reg_p{
    transition: 0.1s;
    width: 300px;
}
.reg_p:hover{
    transform: scale(1.1);
    transition: 0.1s;
}
.content{
    max-width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.content div{
    margin: 25px 0;
}
.content_wrapper{
    width: 55%;
    padding: 25px;
    border: 1px solid #270b3d80;
}
.author{
    font-size: 35px;
}
.email_post{
    font-size: 22px;
}
.code{
    font-size: 25px;
}
.name_post{
    display: inline-block;
    border-top: 1px solid #270b3d80;
    border-bottom: 1px solid #270b3d80;
    margin: 5px 0;
}
.author::after{
    content: '';
    display: block;
    width: 95%;
    background: #a6a6a6;
    height: 1px;
    margin: 0 auto;
    margin-top: 10px;
}
.author::before{
    content: '';
    display: block;
    width: 100%;
    background: #a6a6a6;
    height: 1px;
    margin: 10px auto;
}
.text{
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.text::before{
    content: '';
    display: block;
    background: #a6a6a6;
    width: 1px;
    margin-right: 10px;
}
.text::after{
    content: '';
    display: block;
    background: #a6a6a6;
    width: 1px;
    margin-left: 10px;
}
.post{
    width: 100%;
    font-size: 23px;
    font-family: inherit;
    outline: none;
    color: black;
    resize: none;
    border: none;

    min-width: 100%;
}
.general_name_content{
    max-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border-top: 1px solid #270b3d80;
    border-bottom: 1px solid #270b3d80;
}
.general_name_content p{
    font-size: 40px;
    padding: 20px;
}