<header>
    <ul>
        <a href="/"><li>Главная</li></a>
        <a href="/data"><li>Регистрация</li></a>
        <a href="/news"><li class="kab">Кабинет</li></a>
    </ul>
</header>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="public/scripts/jquery.cookie.js"></script>
<script src="public/scripts/header.js"></script>